<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading text-center"> Homeyantra Login</div>
            <div class="panel-body">
                <form name="adminLogin" role="form" ng-submit="login(adminLogin.$valid)">
                    <div class="form-group" ng-class="{'has-error' : (adminLogin.email.$invalid && submitted)}">
                        <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="user.username" autofocus="" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z]+(?:\.[a-zA-Z]+)*$/" required/>
                        <span class="text-danger" ng-show=" !adminLogin.email.$error.pattern && submitted && adminLogin.email.$invalid">user name is required</span>
                        <p class="text-danger" ng-show="submitted && adminLogin.email.$error.pattern ">Invalid email id.</p>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : (adminLogin.password.$invalid && submitted)}">
                        <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password" required />
                        <span class="text-danger" ng-show="submitted && adminLogin.password.$invalid">password is required</span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="rememberMe" type="checkbox" value="RememberMe">Remember Me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <span class="text-danger" ng-show="errorMsg">{{errorMsg}}</span>
                </form>
            </div>
        </div>
    </div>
</div>
